nav {
  padding: 4px 16px;
  color: #1e1e1e;
  background-color: #fdc300;

  .title {
    display: inline-block;
    font-size: 28px;
    margin: 0.5em 0;
    font-weight: bolder;
    font-family: Gilroy;

    span {
      color: #fff;
    }
  }

  ul {
    display: inline-block;
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 16px;

      a {
        color: inherit;
      }
    }
  }
}

main {
  padding: 8px;
}
