svg[appD3] {
  min-width: 50px;
  min-height: 50px;

  .node {
    fill: steelblue;
    stroke: none;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }

  circle.dragging {
    fill: #b7b7b7;
  }
  
  path.dragging,
  g.connections path {
    fill: none;
    stroke: #b7b7b7;
    stroke-width: 2px;
  }

}

