svg[appD3] {
  min-width: 50px;
  min-height: 50px;
  font-weight: bold;

  .node {
    circle {
      fill: #999;
      // stroke: #999;

      &.has-children {
        fill: #666;
      }
    }
    
    text {
      font-size: 14px;
    }
  }

  .link {
    fill: none;
    // stroke: #999;
    stroke-width: 1px;
  }

  circle.dragging {
    fill: #4c4c4c;
  }
  
  path.dragging,
  g.connections path {
    fill: none;
    // stroke: #4c4c4c;
    stroke-width: 2px;
  }

}
