<div class="flexbox">
  <svg class="container" appD3 [input]="EXAMPLE_INPUT" [output]="EXAMPLE_OUTPUT" (mapping)="updateMappings($event)">Loading</svg>
  <div class="info">
    <h2>Mappings</h2>
    <table>
      <thead>
        <th>Input element</th>
        <th>Input type</th>
        <th>Input path</th>
        <th>Transformation</th>
        <th>Condition</th>
        <th>Output element</th>
        <th>Output type</th>
        <th>Output path</th>
      </thead>
      <tbody>
        <tr *ngFor="let mapping of displayMappings">
          <td>{{mapping.source.key}}</td>
          <td>{{mapping.source.type}}</td>
          <td>{{mapping.source.path}}</td>
          <td>{{mapping.condition}}</td>
          <td>{{mapping.transformation}}</td>
          <td>{{mapping.target.key}}</td>
          <td>{{mapping.target.type}}</td>
          <td>{{mapping.target.path}}</td>
        </tr>
    </table>
  </div>
</div>