/* You can add global styles to this file, and also import other style files */

@import "app/jsplumb/jsplumb.directive";
@import "app/d3/d3.directive";

@font-face {
  font-family: Gilroy;
  src: url("assets/font/Gilroy Regular.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("assets/font/Gilroy Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url("assets/font/Gilroy ExtraBold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}